@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: white;

  background: #060816;
  background-image:
    radial-gradient(circle at 15% 20%, rgba(88, 28, 255, 0.35), transparent 30%),
    radial-gradient(circle at 85% 25%, rgba(0, 149, 255, 0.25), transparent 25%),
    radial-gradient(circle at 50% 80%, rgba(123, 97, 255, 0.18), transparent 35%);
}

body::before {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  left: -180px;
  top: -180px;
  background: #6d28d9;
  filter: blur(180px);
  opacity: 0.3;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 450px;
  height: 450px;
  right: -150px;
  bottom: -150px;
  background: #2563eb;
  filter: blur(180px);
  opacity: 0.3;
  z-index: -1;
}