.categories {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}

.categories h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.categories p {
  color: #bdbdbd;
  margin-bottom: 50px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.category-card {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 35px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(124,58,237,.3);
}

.category-icon {
  font-size: 50px;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 22px;
}