.cursor-glow {
  position: fixed;

  width: 300px;
  height: 300px;

  border-radius: 50%;

  left: 0;
  top: 0;

  transform: translate(-50%, -50%);

  pointer-events: none;

  z-index: 9999;

  background: radial-gradient(
    circle,
    rgba(124, 58, 237, 0.22) 0%,
    rgba(37, 99, 235, 0.12) 35%,
    rgba(37, 99, 235, 0.05) 60%,
    transparent 75%
  );

  filter: blur(45px);

  transition:
    left 0.08s linear,
    top 0.08s linear;
}